<mat-toolbar class="foot" >
    <div fxFlexAlign="center" fxLayout="row" fxLayoutGap="40px" fxHide.xs>
    <div class="dot"  >
            <!-- <h1>{{stock.companyName}}</h1>
            <h2>{{stock.ticker}}</h2>
            <h2>{{stock.price}}</h2>
            <h3>{{stock.changesPercentage}}</h3> -->
    </div>
    <div class="dot" fxLayout="row" >
            <!-- <h1>{{stock.companyName}}</h1>
            <h2>{{stock.ticker}}</h2>
            <h2>{{stock.price}}</h2>
            <h3>{{stock.changesPercentage}}</h3> -->
    </div>

    <div class="dot" fxLayout="row" >
            <!-- <h1>{{stock.companyName}}</h1>
            <h2>{{stock.ticker}}</h2>
            <h2>{{stock.price}}</h2>
            <h3>{{stock.changesPercentage}}</h3> -->
    </div>
</div>
    </mat-toolbar>