
* {
    box-sizing: border-box;
    
} 

.info-section {
    padding-top:30px;
    padding-bottom:30px;
    padding-left:10px;
    padding-right:10px;
}

.round-card {
    border-radius:50px;
}

.button {
    background-color: #bbb;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.card-1 {
    background-color: #FBE9E8;
}


  
 

 .mat-card-actions {
      padding: 10px 24px;   
      margin: 0 auto;
  }


  
  