<mat-toolbar class="nav">
    
        <div class="title">Global Economy</div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                      
                  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                            <li><a href="https://jolly-wright-e6f0f6.netlify.com/"><mat-icon>home</mat-icon></a></li>
                        </ul>
             
                    </div>  
  
        </div>
    </mat-toolbar>
