<section class="stock">
<div fxLayout="column" fxFlexAlign="stretch" fxLayoutGap="20px">

    <div class="dot">
        <h1>{{stock.companyName}}</h1>
        <h2>{{stock.ticker}}</h2>
        <h2>{{stock.price}}</h2>
        <h3>{{stock.changesPercentage}}</h3>
    </div>
    <div class="dot">
            <h1>{{stock.companyName}}</h1>
            <h2>{{stock.ticker}}</h2>
            <h2>{{stock.price}}</h2>
            <h3>{{stock.changesPercentage}}</h3>
    </div>
    <div class="dot">
            <h1>{{stock.companyName}}</h1>
            <h2>{{stock.ticker}}</h2>
            <h2>{{stock.price}}</h2>
            <h3>{{stock.changesPercentage}}</h3>
    </div>
</div>
</section>


