<section class="debt-section" fxLayoutGap="20px" fxLayoutAlign="left">
        <div fxLayout="row" fxLayout.xs="column">    
            <div class="title">
                <h3>G-8 Debt to GDP</h3> 
                <div fxHide fxShow.gt-sm>
                    <h4>1990 - 2008</h4>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>

        <div class="container" fxLayout="row" fxLayoutAlign="center center">         
            <div class="debt-chart" >
            <canvas id="canvas">{{chart}}</canvas>
            </div>
        </div>
</section>
