
<mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
                <app-sidenav>
        
                </app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
<app-navbar>
        
</app-navbar>

    <main>

            <app-info-section></app-info-section>
           
            <app-chart-section></app-chart-section>
    <router-outlet></router-outlet>
    </main>
    <app-footer>
        
        </app-footer>
</mat-sidenav-content>
</mat-sidenav-container>